.home_body {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 10% 10%;
}

.home_body_left {
    width: 67%;
    
}

.search_var {
    width:100%;
    border-radius: 50px;
    height: 8vh;
    padding: 3%;
    text-align: center;
    border: 1px solid blue;
}

.school_life_menu {
  width: 90%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  border: 1px solid tomato;
}

.school_life_menu td {
  width: 33.333%;
}

.school_life_menu button {
  width: 100%;
  height: 6vh;
  min-height: 50px;
  box-sizing: border-box;
}

.body_left_bottom {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
  margin-top: 5%;
}

.campus_map_containor {
    width: 45%;
    border: 1px solid blueviolet;
    height: 40vh;
}

.chedule_calendar {
    width: 55%;
    border: 1px solid brown;
}

.home_body_right {
    width: 30%;
}

.profile {
    width: 100%;
    border: 1px solid chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-bottom: 10%;
}

.notice_section {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
}