.home_body {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 10% 10%;
}

.home_body_left {
    width: 67%;
    
}

.search_var {
    width:100%;
    border-radius: 50px;
    height: 8vh;
    padding: 3%;
    border: 4px solid #006BFF;
}

.school_life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #006BFF33;
    border-radius: 20px;
    margin-top: 2%;
    padding: 1%;
    height: 22vh;
}

.school_life h2 {
    margin: 0%;
    margin-left: 2%;
    margin-top: 1%;
}

.school_life_menu {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
}

.school_life_menu td {
  width: 33.333%;
}

.school_life_menu button {
  width: 100%;
  height: 2vh;
  min-height: 50px;
  box-sizing: border-box;
  background-color: #002496;
  color: white;
  border-radius: 12px;
  border: none;
}

.body_left_bottom {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
  margin-top: 5%;
}

.campus_map_containor {
    width: 50%;
    border: 1px solid #006BFF33;
    border-radius: 20px;
    height: 40vh;
    padding: 3%;
}

.campus_map_containor h2 {
    margin: 0;
}

.campus_map {
    width: 100%;
    display: flex;
    border: 1px solid blue;
    height: 85%;
    margin-top: 5%;
}

.schedule_calendar {
    width: 50%;
    border: 1px solid #006BFF33;
    border-radius: 20px;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.schedule_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule_head h2 {
    margin: 0%;
    color : #191F28;
}

.schedule_more_link {
    color : #4E5968;
    font-size: 16px;
}

.home_body_right {
    width: 30%;
}

.profile {
    width: 100%;
    border: 1px solid #006BFF33;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 10%;
    border-radius: 20px;
    height: 34dvh;
    padding: 8%;
    h3 {
        margin: 0%;
    }
    th {
        text-align: start;
    }
}

.profile_select {
    width: 80%;
    height: 3dvh;
    box-sizing: border-box;
    border-radius: 4px;
}

.profile_option_name {
    width: 30%;
}

.login_or_signup_btn {
    width: 100%;
    background-color: #002496;
    color: white;
    border-radius: 12px;
    height: 5dvh;
    border: none;
    margin-top: 10%;
}

.notice_section {
    width: 100%;
    border: 1px solid #006BFF33;
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    height: 46dvh;
}